body{
  /*width: 960px;*/
  max-width:960px;
  margin: 0 auto;
}

main{
  width:80%;
  display: table-cell;
  position: relative;
  vertical-align:top;
  padding: 10px;
}

#external-links{
  width:20%;
  position: relative;
  display: table-cell;
  /*float:right;*/
  vertical-align:top;
  min-width: 188px;
  padding: 10px;
}

blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like,
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

@media screen and (max-width: 500px) {
  body {background-color: hotpink;
  }
  main{
    width:96%;
    margin-right:2%;
    display:block;
  }
  #external-links{
    width: 100%;
    display:block;
  }
}

@media screen and (max-width: 300px){
  #external-links h1{
    font-size: 0.5em;
  }
  #external-links ul{
    font-size: 0.35em;
  }
  #external-links{
    text-align: center;
  }
}
